.main-header {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid yellow;
}

.main-header .link {
  text-decoration: none;
  color: white;
}

article {
  margin: auto;
}
